PORT=5000
NODE_ENV=development
DATABASE_URL=postgres://erpcahaya:erpcahaya123@192.168.10.23:5432/ams_db
DB_HOST=192.168.10.23
DB_PORT=5432
DB_USER=erpcahaya
DB_PASSWORD=erpcahaya123
DB_NAME=ams_db
JWT_SECRET=super-secret-key-change-in-prod
JWT_REFRESH_SECRET=super-refresh-secret-key
