[Unit]
Description=Daily schedule for AMS Production PostgreSQL Backup
RefuseManualStart=no
RefuseManualStop=no

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
Unit=ams-postgres-backup.service

[Install]
WantedBy=timers.target
