APP_VERSION=v1.0.0
GHCR_OWNER=fastpec
DATABASE_URL=postgresql://ams_app:replace-with-strong-prod-password@host.docker.internal:5432/ams_prod_db
JWT_SECRET=replace-with-strong-prod-jwt-secret-min-32-chars
JWT_REFRESH_SECRET=replace-with-strong-prod-refresh-secret-min-32-chars
ACCURATE_LICENSE_SERVER_URL=http://192.168.10.160:6688
